{
	"best_mu" : {
		"lifting_motor_a_max": [100.4]
	},
	"best_sigma2" : {
		"lifting_motor_a_max" : [1298708.6737446]	
	},
	"vel_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 2.8, "color" : "g", "unit" : "mm/s"},
		{ "class_name" : "Satisfactory", "min_val" : 2.8, "max_val" : 7.1, "color" : "c", "unit" : "mm/s"},
		{ "class_name" : "Unsatisfactory", "min_val" : 7.1, "max_val" : 18.0, "color" : "y", "unit" : "mm/s"},
		{ "class_name" : "Unacceptable", "min_val" : 18.0, "max_val" : 1000.0, "color" : "r", "unit" : "mm/s"}		
	],
	"acc_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 500, "color" : "g", "unit" : "mg"},
		{ "class_name" : "Satisfactory", "min_val" : 500, "max_val" : 1000, "color" : "c", "unit" : "mg"},
		{ "class_name" : "Unsatisfactory", "min_val" : 1000, "max_val" : 10000, "color" : "y", "unit" : "mg"},
		{ "class_name" : "Unacceptable", "min_val" : 10000, "max_val" : 1000000, "color" : "r", "unit" : "mg"}		
	],
	"RUN_V_CATEGORIZATION" : False,
	"RUN_A_CATEGORIZATION" : False,
	"RUN_CATEGORIZATION_NEW_DATA" : False,
	"RUN_CATEGORIZATION_ALL_DATA" : False,
	"RUN_COMPATIBILITY_LAST_DAY" : False,
	"RUN_COMPATIBILITY_LAST_WEEK" : True,
	"RUN_COMPATIBILITY_LAST_N_DAYS" : True,
	"RUN_COMPATIBILITY_BEST_FIT" : True,
	"REFERENT_LAST_N_DAYS" : 30
}
