{
	"best_mu" : {
		"lifting_motor_a_max": [1071.25],
		"lifting_gear_a_max": [1482.0],
		"idle_wheel_a_max": [427.17],
		"drive_wheel_a_max": [432.01],
		"drive_motor_a_max": [1235.0],
		"drive_gear_a_max": [1066.79],
		
		"lifting_motor_V_eff": [0.72],
		"lifting_gear_V_eff": [0.42],
		"idle_wheel_V_eff": [0.9],
		"drive_wheel_V_eff": [0.94],
		"drive_motor_V_eff": [3.4],
		"drive_gear_V_eff": [1.06]
	},
	"best_sigma2" : {
		"lifting_motor_a_max": [90251.05],
		"lifting_gear_a_max": [425908.12],
		"idle_wheel_a_max": [3287.46],
		"drive_wheel_a_max": [1995.79],
		"drive_motor_a_max": [95522.45],
		"drive_gear_a_max": [52107.93],
		
		"lifting_motor_V_eff": [0.02],
		"lifting_gear_V_eff": [0.02],
		"idle_wheel_V_eff": [0.02],
		"drive_wheel_V_eff": [0.02],
		"drive_motor_V_eff": [0.02],
		"drive_gear_V_eff": [0.02]
	},
	"vel_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 2.8, "color" : "g", "unit" : "mm/s"},
		{ "class_name" : "Satisfactory", "min_val" : 2.8, "max_val" : 7.1, "color" : "c", "unit" : "mm/s"},
		{ "class_name" : "Unsatisfactory", "min_val" : 7.1, "max_val" : 18.0, "color" : "y", "unit" : "mm/s"},
		{ "class_name" : "Unacceptable", "min_val" : 18.0, "max_val" : 10000.0, "color" : "r", "unit" : "mm/s"}		
	],
	"acc_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 3000, "color" : "g", "unit" : "mg"},
		{ "class_name" : "Satisfactory", "min_val" : 3000, "max_val" : 10000, "color" : "c", "unit" : "mg"},
		{ "class_name" : "Unsatisfactory", "min_val" : 10000, "max_val" : 20000, "color" : "y", "unit" : "mg"},
		{ "class_name" : "Unacceptable", "min_val" : 20000, "max_val" : 100000000, "color" : "r", "unit" : "mg"}		
	],
	"RUN_V_CATEGORIZATION" : True,
	"RUN_A_CATEGORIZATION" : True,
	"RUN_CATEGORIZATION_NEW_DATA" : True,
	"RUN_CATEGORIZATION_ALL_DATA" : False,
	"RUN_COMPATIBILITY_LAST_WEEK" : False,
	"RUN_COMPATIBILITY_LAST_N_DAYS" : True,
	"RUN_COMPATIBILITY_BEST_FIT" : True,
	"REFERENT_LAST_N_DAYS" : 60
}
