{
	"best_mu" : {
		"lifting_motor_a_max": [3765.38],
		"lifting_gear_a_max": [874.18],
		"idle_wheel_a_max": [805.41],
		"drive_wheel_a_max": [614.77],
		"drive_motor_a_max": [5964.43],
		"drive_gear_a_max": [2566.14],
		
		"lifting_motor_V_eff": [0.99],
		"lifting_gear_V_eff": [0.82],
		"idle_wheel_V_eff": [2.64],
		"drive_wheel_V_eff": [1.89],
		"drive_motor_V_eff": [2.33],
		"drive_gear_V_eff": [1.57]
	},
	"best_sigma2" : {
		"lifting_motor_a_max": [1346702.35],
		"lifting_gear_a_max": [340904.0],
		"idle_wheel_a_max": [4574.82],
		"drive_wheel_a_max": [4039.09],
		"drive_motor_a_max": [171644.21],
		"drive_gear_a_max": [460270.33],
		
		"lifting_motor_V_eff": [0.02],
		"lifting_gear_V_eff": [0.02],
		"idle_wheel_V_eff": [0.02],
		"drive_wheel_V_eff": [0.02],
		"drive_motor_V_eff": [0.02],
		"drive_gear_V_eff": [0.02]
	},
	"vel_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 2.8, "color" : "g", "unit" : "mm/s"},
		{ "class_name" : "Satisfactory", "min_val" : 2.8, "max_val" : 7.1, "color" : "c", "unit" : "mm/s"},
		{ "class_name" : "Unsatisfactory", "min_val" : 7.1, "max_val" : 18.0, "color" : "y", "unit" : "mm/s"},
		{ "class_name" : "Unacceptable", "min_val" : 18.0, "max_val" : 10000.0, "color" : "r", "unit" : "mm/s"}		
	],
	"acc_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 3000, "color" : "g", "unit" : "mg"},
		{ "class_name" : "Satisfactory", "min_val" : 3000, "max_val" : 10000, "color" : "c", "unit" : "mg"},
		{ "class_name" : "Unsatisfactory", "min_val" : 10000, "max_val" : 20000, "color" : "y", "unit" : "mg"},
		{ "class_name" : "Unacceptable", "min_val" : 20000, "max_val" : 100000000, "color" : "r", "unit" : "mg"}		
	],
	"RUN_V_CATEGORIZATION" : True,
	"RUN_A_CATEGORIZATION" : True,
	"RUN_CATEGORIZATION_NEW_DATA" : True,
	"RUN_CATEGORIZATION_ALL_DATA" : True,
	"RUN_COMPATIBILITY_LAST_WEEK" : False,
	"RUN_COMPATIBILITY_LAST_N_DAYS" : False,
	"RUN_COMPATIBILITY_BEST_FIT" : True,
	"REFERENT_LAST_N_DAYS" : 30
}
