{
	"best_mu" : {
	},
	"best_sigma2" : {
	},
	"vel_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 2.8, "color" : "g", "unit" : "mm/s"},
		{ "class_name" : "Satisfactory", "min_val" : 2.8, "max_val" : 7.1, "color" : "c", "unit" : "mm/s"},
		{ "class_name" : "Unsatisfactory", "min_val" : 7.1, "max_val" : 18.0, "color" : "y", "unit" : "mm/s"},
		{ "class_name" : "Unacceptable", "min_val" : 18.0, "max_val" : 10000.0, "color" : "r", "unit" : "mm/s"}		
	],
	"acc_classification" : [
		{ "class_name" : "Good", "min_val" : 0, "max_val" : 3000, "color" : "g", "unit" : "mg"},
		{ "class_name" : "Satisfactory", "min_val" : 3000, "max_val" : 10000, "color" : "c", "unit" : "mg"},
		{ "class_name" : "Unsatisfactory", "min_val" : 10000, "max_val" : 20000, "color" : "y", "unit" : "mg"},
		{ "class_name" : "Unacceptable", "min_val" : 20000, "max_val" : 100000000, "color" : "r", "unit" : "mg"}		
	],
	"RUN_V_CATEGORIZATION" : True,
	"RUN_A_CATEGORIZATION" : True,
	"RUN_CATEGORIZATION_NEW_DATA" : True,
	"RUN_CATEGORIZATION_ALL_DATA" : True,
	"RUN_COMPATIBILITY_LAST_WEEK" : True,
	"RUN_COMPATIBILITY_LAST_N_DAYS" : True,
	"RUN_COMPATIBILITY_BEST_FIT" : True,
	"REFERENT_LAST_N_DAYS" : 30
}
